.criteria-panel {
  margin-left: 25px;
  margin-top: 30px;
  font-family: Lato;
  font-size:16px;
  color:#7373b7;
}

input {
  border-radius: 25px;
  border: 1px solid #609;
  outline:none;
  color:#609;
  font-size: 15px solid;
  text-align:left;
}

button {
  font-size: 14px;
  color:white;
  border-radius: 25px;
  background-color: #609;
  width:55%;
  border: none;
  margin:auto;
  display:block;
  
  }